@model List<SaleStatictic_Task5.Models.ProductViewModel>

<div id="productsearchresults">
    <h3>Product Name : @Model.First().ProductName</h3>
    <ul>
        @foreach (var item in Model)
        { 
            <li>@item.Id</li>
            <li>@item.ProductName</li>
            <li>@item.ProductCost</li>
        }
    </ul>
</div>