@model System.Collections.Generic.List<SaleStatictic_Task5.Models.OrderViewModel>

<div id="searchresults">
    <h3>Product Name : @Model.First().ProductId</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Id</li>
            <li>@item.Date</li>
            <li>@item.ClientId</li>
        }
    </ul>
</div>